body {
    overflow: hidden;
    color: #fff;
    font-family: courier;
    text-align: center;
    font-size: 20px;
    background-color: #333;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 90vh;
}